.main-banner{
    display: flex;
    justify-content: flex-end;

    &__block{
        position: relative;
        margin-left: 275px;
    }

    &__img-text-top{
        position: absolute;
        top: 5%;
        left: -1%;
    }

    &__img-text-down{
        position: absolute;
        bottom: 130px;
        right: -1px;
    }

    &__img-left{
        position: absolute;
        bottom: 50px;
        left: 0;
    }
}

