.navigation{
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
  max-width: 975px;
  margin: 0 0 27px auto;
  border-bottom: 1px solid #202217;

  
  &__item{
    display: flex;
    gap: 48px;
    justify-content: space-between;
    
    a{
      transition: .4s;
      color: #202217;
    }
    a:hover{
      color: #D2564F;
    }
  }
}