.navigation{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  max-width: 975px;
  margin-left: auto;
  
  &__item{
    display: flex;
    gap: 48px;
    justify-content: space-between;
  }
}