@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
:root {
  --font-family: "DM+Sans", sans-serif;
  --content-width: 100%;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --font-l: 300;
  --font-r: 400;
  --font-m: 500;
  --font-sb: 600;
  --font-b: 700;
  --font-bk: 900;
  --h-tr: all 0.5s ease;
  --d-tr: all 0.3s ease;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul,
p,
h3,
h2 {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  border: none;
}

.btn-reset {
  border: none;
  background: #E9E9DB;
  border-radius: 40px;
  font-size: 12px;
  line-height: 18px;
  font-weight: var(--font-r);
  height: 46px;
  padding: 0px 20px;
  width: 100%;
  cursor: pointer;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  font-weight: var(--font-r);
  font-size: 16px;
  line-height: 20px;
  color: #202217;
  background: #E9E9DB;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: #202217;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.container {
  margin: 0 auto;
  max-width: 1250px;
}

.header {
  background-color: #E9E9DB;
  color: #202217;
}

.navigation {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 975px;
  margin: 0 0 27px auto;
  border-bottom: 1px solid #202217;
}
.navigation__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 48px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.navigation__item a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  color: #202217;
}
.navigation__item a:hover {
  color: #D2564F;
}

.main-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.main-banner__block {
  position: relative;
  margin-left: 275px;
}
.main-banner__img-text-top {
  position: absolute;
  top: 5%;
  left: -1%;
}
.main-banner__img-text-down {
  position: absolute;
  bottom: 130px;
  right: -1px;
}
.main-banner__img-left {
  position: absolute;
  bottom: 50px;
  left: 0;
}

.section-2 {
  padding-bottom: 100px;
}
.section-2__block {
  margin-top: 100px;
}
.section-2__title {
  position: relative;
  z-index: 2;
}
.section-2__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section-2__text {
  width: 40%;
  margin-top: 40px;
  padding-left: 10px;
}
.section-2__text h2 {
  margin-bottom: 15px;
}
.section-2__text p {
  max-width: 80%;
  font-size: 0.8rem;
  line-height: 1rem;
}
.section-2__text p:not(:last-child) {
  margin-bottom: 50px;
}
.section-2__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  position: relative;
}
.section-2__images img {
  max-width: 370px;
}
.section-2__images .section-2--img {
  margin-top: 40px;
  position: relative;
  z-index: 1;
}
.section-2__images .section-2--img-absolute {
  position: absolute;
  width: 100%;
  max-width: 378px;
  top: -160px;
  right: 60px;
  z-index: 1;
}
.section-2__images .section-2--lines {
  position: absolute;
  top: 50px;
  right: 127px;
  z-index: 0;
}

@media (max-width: 992px) {
  .section-2__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-2__images {
    width: 90%;
  }
  .section-2__text {
    width: 90%;
  }
}
.section-3 {
  background: #2C2D26;
  padding-bottom: 150px;
  position: relative;
}

.section-3__item-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  gap: 50px;
}

.section-3__item {
  height: 100%;
}

.section-3 span,
.section-3 h5,
.section-3 p {
  color: #E9E9DB;
}

.section-3 h2 {
  font-family: "Emilea";
  color: #E9E9DB;
  font-size: 3rem;
  font-weight: 400;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  top: 15%;
}

.section-3 img {
  margin: 0 auto;
  width: 100%;
}

.border-radius-1 {
  border-radius: 0% 50%;
}

.border-radius-2 {
  border-radius: 50% 50% 0% 0%;
}

.border-radius-3 {
  border-radius: 50% 0%;
}

.section-3__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.section-3__item-img img {
  -o-object-fit: cover;
  object-fit: cover;
  width: 100%;
  height: 100;
  max-height: 450px;
}

.section-3__text-block {
  margin-top: 15px;
}

.section-3__button a {
  font-family: "Emilea";
  color: #E9E9DB;
  font-size: 2rem;
  font-weight: 400;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 100px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.section-3__button a:hover {
  opacity: 70%;
}

.section-3__absolute1,
.section-3__absolute2 {
  position: absolute;
  max-width: 300px;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.section-4 {
  margin: 50px 0 100px;
}

.section-4__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-4__text,
.section-4__images {
  width: 50%;
}

.section-4__images {
  position: relative;
}

.section-4--img,
.section-4--img2 {
  position: relative;
  z-index: 1;
}

.section-4--img-absolute {
  position: absolute;
  top: 29%;
  left: 40%;
  z-index: 0;
}

.section-4__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section-4__text p {
  margin: 10px 0;
}

.section-4__text h2 {
  margin-bottom: 10px;
  font-family: "Emilea";
}

.section-4--img2-absolute {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.section-4--img3-absolute {
  position: absolute;
  top: 29%;
  left: 40%;
  z-index: 0;
}

.section-4--img3 {
  position: absolute;
  top: 60%;
  left: 65%;
  z-index: 0;
}

@media (max-width: 992px) {
  .section-4__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .section-4__text,
  .section-4__images {
    width: 90%;
  }
}
.footer {
  background: #2C2D26;
  padding: 65px 20px;
}

.footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-item ul li a {
  color: rgba(233, 233, 219, 0.6156862745);
  line-height: 24px;
}

.footer-info span,
.footer-item h5 {
  color: #E9E9DB;
}

.footer-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-social {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.footer a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer a:hover {
  opacity: 70%;
}
/*# sourceMappingURL=main.css.map */