<footer class="footer">
    <div class="container">
        <div class="footer-nav">
            <div class="footer-item">
                <h5>Product</h5>
                <ul>
                    <li><a href="#">Autocapture</a></li>
                    <li><a href="#">Data Governance</a></li>
                    <li><a href="#">Virtual Events</a></li>
                    <li><a href="#">Virtual Users</a></li>
                    <li><a href="#">Behavioral Analytics</a></li>
                    <li><a href="#">Connect</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h5>Explore</h5>
                <ul>
                    <li><a href="#">Resources</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Documents</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h5>Community</h5>
                <ul>
                    <li><a href="#">Community Central</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">My info</a></li>
                </ul>
            </div>
            <div class="footer-item">
                <h5>Company</h5>
                <ul>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Partners</a></li>
                    <li><a href="#">Customers</a></li>
                    <li><a href="#">Contact us</a></li>
                </ul>
            </div>
        </div>
    <div class="footer-info">
        <div class="footer-logo">
            <a href="#"><img src="../img/logo.svg" alt=""></a>
        </div>
        <span>© 2022 - 2023 Lamda Museum. All rights reserved.</span>
        <div class="footer-social">
        <a href="#"><img src="../img/001-facebook-logo-button.svg" alt=""></a>
        <a href="#"><img src="../img/002-twitter.svg" alt=""></a>
        <a href="#"><img src="../img/004-vimeo-social-logo.svg" alt=""></a>
        <a href="#"><img src="../img/Combined Shape.svg" alt=""></a>
        </div>
    </div>
    </div>
</footer>
