<div class="section-4">
<div class="section-4__block">
    <div class="container">
    <div class="section-4__content">
        <div class="section-4__images">
            <img class="section-4--img" src="../img/Rectangle 4.png" alt="">
            <img class="section-4--img-absolute" src="../img/Ellipse 3.svg" alt="">
        </div>

        <div class="section-4__text">
            <h2>Multiple Modernisms in the Americas</h2>
            <p>For many years these works, along with other beloved paintings and sculptures, have been located in galleries 262–65 in the Rice Building. We in Arts of the Americas recently re-envisioned and reinstalled these galleries, seeking to present art of North America in a more lively and engaging manner.</p>
            <p>Our intention was to contextualize old favorites in new ways, introduce a greater variety of objects, and offer more complex and interesting narratives that highlight the true breadth and depth of our collection.</p>
        </div>
    </div>

    <div class="section-4__content">
        <div class="section-4__text">
            <h2>Andrew James associate curator</h2>
            <p>With this reinstallation, it was important to bring works by Native American artists into these galleries to create a more inclusive, expansive, and simply more accurate presentation of American art. These additions do not replace our dedicated gallery of Native and Indigenous art in the Morton Wing, but rather are a complement to it.</p>
        </div>

        <div class="section-4__images">
            <img class="section-4--img2" src="../img/Ellipse 4.png" alt="">
            <img class="section-4--img2-absolute" src="../img/Ellipse 5.svg" alt="">
            <img class="section-4--img3" src="../img/Ellipse 6.png" alt="">
            <img class="section-4--img3-absolute" src="../img/Ellipse 7.svg" alt="">
        </div>
    </div>
</div>
</div>
</div>