<div class="section-3">
    <img src="../img/New gallery.svg" alt="">
    <div class="container">
        <h2>New gallery</h2>
        <div class="section-3__item-box">
            <div class="section-3__item">
                <div class="section-3__item-img">
                    <img class="border-radius-1"src="../img/sec3-1.jpg" alt="">
                </div>
                <div class="section-3__text-block">
                    <div class="section-3__info">
                        <span class="section-3__date">1631</span>
                        <span class="section-3__author">Rembrandt Harmensz. van Rijn</span>
                    </div>
                    <h5>Old Man with a Gold Chain</h5>
                    <p>This evocative character study is an early example of a type of subject that preoccupied the great Dutch master Rembrandt van Rijn throughout his long career. Although his large output included landscapes, genre paintings, and the occasional still life.</p>
                </div>
            </div>

            <div class="section-3__item">
                <div class="section-3__item-img">
                    <img class="border-radius-2" src="../img/sec3-2.jpg" alt="">
                </div>
                <div class="section-3__text-block">
                    <div class="section-3__info">
                        <span class="section-3__date">1887</span>
                        <span class="section-3__author">Vincent van Gogh</span>
                    </div>
                    <h5>Self-portrait</h5>
                    <p>In 1886 Vincent van Gogh left his native Holland and settled in Paris, where his beloved brother Theo was a dealer in paintings. Van Gogh created at least twenty-four self-portraits during his two-year stay in the energetic French capital.</p>
                </div>
            </div>

            <div class="section-3__item">
                <div class="section-3__item-img">
                    <img class="border-radius-3" src="../img/sec3-3.jpg" alt="">
                </div>
                <div class="section-3__text-block">
                    <div class="section-3__info">
                        <span class="section-3__date">1881</span>
                        <span class="section-3__author">Pierre-Auguste Renoir</span>
                    </div>
                    <h5>Two Sisters (On the Terrace)</h5>
                    <p>“He loves everything that is joyous, brilliant, and consoling in life,” an anonymous interviewer once wrote about Pierre-Auguste Renoir. This may explain why Two Sisters (On the Terrace) is one of the most popular paintings in the Art Institute.</p>
                </div>
            </div>
        </div>
        <div class="section-3__button">
            <a href="#">All gallery</a>
            <img class="section-3__absolute1" src="../img/Ellipse 1.svg" alt="">
            <img class="section-3__absolute2" src="../img/Ellipse 2.svg" alt="">
        </div>

    </div>
</div>