<div class="section-2__block">
<img class="section-2__title" src="/img/the aq artist.svg" alt="">
<div class="section-2__content">
    <div class="section-2__text">
        <h2>Grant Wood</h2>
        <p>Grant Wood, famous for his representations of the Midwest—of which the Art Institute’s American Gothic (1930.934) is his most recognizable example—intended The Pump to be an illustration for Sinclair Lewis’s novel Main Street (1920).</p>

        <h2>American Gothic</h2>
        <p>This image of a contemporary water pump would have been a perfect fit for Lewis’s novel about life in a midwestern town. The drawing was given to the Art Institute by Carter Manny, Jr., who received it as a high school graduation gift from the artist in 1937.</p>
    </div>

    <div class="section-2__images">
        <img class="section-2 section-2--img" src="/img/sec-2-1.png" alt="">
        <img class="section-2 section-2--img-absolute" src="/img/sec-2-2.png" alt="">
        <img class="section-2 section-2--lines" src="/img/lines.png" alt="">
    </div>
</div>
</div>